#main-conteners{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;

   background-color: rgba(0, 0, 0, 0.03);
}
#log{
    
    text-align: center;
    
}
#inpu11{
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
  padding-right: 12px; 
  height: 45px;
  border: 2px gray;
}
#input22{
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
  padding-right: 12px; 
  height: 45px;
  border: 2px gray;   
}
#btn1{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color:rgba(0, 0, 0, 0.07) ;
    border-radius: 20px;
    color: black;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}
