
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Comfortaa:wght@300&family=Open+Sans+Condensed:ital,wght@0,300;1,300&family=Poppins:ital@1&family=Pushster&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&family=Roboto:ital@1&family=Source+Sans+Pro:ital,wght@0,200;1,200;1,300&family=Source+Serif+Pro:ital,wght@0,200;0,300;1,300&display=swap');
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: rgba(255, 255, 255, 0); */
}
nav{

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 13vh;
    top: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.116);
    
} 
/* #img{
  width: 100px;
  height: 50px;
  cursor: pointer;
  position: sticky;
  top: 0;
  z-index: 999;
  
} */

 .nav-linkes{
  display: flex;
  justify-content: space-around;
width: 45;


}
.link {
  text-decoration: none;
 color: black;
 font-size: medium;
 
}
li {
  display: inline-block;
  padding: 45px;
  
}



@media screen and (max-width:1024px){
  nav-linkes{
    position: absolute;
  right: 0px;
  height: 22vh;
  top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
width: 50%;
transform: translateX(80%);


  }
 }

 @media screen and (max-width:768px) {
  body{
    overflow-x: hidden;
 
  }
  nav-linkes{
  position: absolute;
  right: 0px;
  height: 14vh;
  top: 8vh;
  /* background-color:hsla(0, 0%, 0%, 0.055); */
  display: flex;
  flex-direction: column;
  align-items: center;
width: 50%;
transform: translateX(100%);

  }

  

}

@media screen and (max-width:400px) {

body{
  background-color: blueviolet;
}
  nav-linkes{
    position: absolute;
    right: 0px;
    height: 16vh;
    top: 8vh;
    background-color:hsla(0, 0%, 0%, 0.055);
    display: flex;
    flex-direction: column;
    align-items: center;
  width: 50%;
  transform: translateX(100%);
  
    }


}  





 
